form#lostpasswordForm{
  margin: 25px 0 0 0;
}

form#lostpasswordForm label.required{

  padding:  12px 0;
  font-size: 15px;
}

form#lostpasswordForm input#email{
	width: 300px;
	float: left;
	font-size: 15px;
	height: 22px;
	margin-right: 14px;
	text-align: center;
	background-color: rgb(250, 255, 189);
    background-image: none;
    color: rgb(0, 0, 0);
}

#contentGame .butt2.butt.retourbutton.lost{
	top: 74px;
    left: -804px;
}

#lostpasswordForm #login.formsubmit{
	width: 600px;
    margin-left: -585px;
    margin-top: 32px;
}
#email-label{
	width: 100%;
}


#pwd2-label{
	position: absolute;
	top: 300px;
}

.fpasswordNew #login.formsubmit{
	position: absolute;
	top: 336px;
	right: 530px;
}
.fpasswordNew #pwd2{
	position: absolute;
	left: 322px;
	top: 286px;
}
.fpasswordNew input, #contactForm  input.input__field{
	height: 22px;
	background-color: rgb(250, 255, 189);
    background-image: none;
    color: rgb(0, 0, 0);
}

#contactForm label{
	width: 200px;
	float: left;
	font-size: 15px;
	padding-top: 6px;
}
